name: 'CI Build'

on:
  push:
    branches-ignore:
    - 'dependabot/**'
    paths:
    - '**'
    - '!docs/**'
    - '!.github/**'
    - '.github/**/*ci*'
  pull_request:
    paths:
    - '**'
    - '!docs/**'
    - '!.github/**'
    - '.github/**/*ci*'

env:
  LC_ALL: en_US.UTF-8
  GRADLE_OPTS: >-
    -Dorg.gradle.parallel=true

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  build:
    strategy:
      fail-fast: ${{ (github.repository != 'bjhargrave/add-maven-descriptor') || ((github.ref != 'refs/heads/main') && (github.ref != 'refs/heads/release')) || (github.event_name == 'pull_request') }}
      matrix:
        os:
        - 'ubuntu-latest'
        java:
        - '8'
        - '11'
        - '17'
        - '21'
    name: Build JDK${{ matrix.java }} ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        disable-sudo-and-containers: true
        egress-policy: block
        allowed-endpoints: >
          downloads.gradle.org:443
          github.com:443
          jcenter.bintray.com:443
          objects.githubusercontent.com:443
          plugins-artifacts.gradle.org:443
          plugins.gradle.org:443
          release-assets.githubusercontent.com:443
          repo.maven.apache.org:443
          services.gradle.org:443

    - name: Git Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Setup Java ${{ matrix.java }}
      uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java }}
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
      with:
        cache-read-only: ${{ github.ref != 'refs/heads/main' }}
    - name: Build
      id: build
      run: |
        ./gradlew build
