name: 'Dependency Submission'

on:
  push:
    branches:
    - 'main'

env:
  LC_ALL: en_US.UTF-8

defaults:
  run:
    shell: bash

permissions:
  contents: write

jobs:
  dependency-submission:
    strategy:
      matrix:
        os:
        - 'ubuntu-latest'
        java:
        - '17'
    name: Submit Dependencies
    runs-on: ${{ matrix.os }}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
      with:
        disable-sudo-and-containers: true
        egress-policy: block
        allowed-endpoints: >
          api.github.com:443
          github.com:443
          jcenter.bintray.com:443
          objects.githubusercontent.com:443
          plugins-artifacts.gradle.org:443
          plugins.gradle.org:443
          release-assets.githubusercontent.com:443
          repo.maven.apache.org:443
          services.gradle.org:443

    - name: Git Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Setup Java ${{ matrix.java }}
      uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java }}
    - name: Generate and submit dependency graph
      uses: gradle/actions/dependency-submission@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1
