name: 'Wrapper'

on:
  push:
    branches-ignore:
    - 'dependabot/**'
    paths:
    - 'gradle/wrapper/**'
    - 'gradlew*'
    - '.github/**/*wrapper*'
  pull_request:
    paths:
    - 'gradle/wrapper/**'
    - 'gradlew*'
    - '.github/**/*wrapper*'

env:
  LC_ALL: en_US.UTF-8

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  validate:
    name: Validate Gradle Wrapper
    runs-on: 'ubuntu-latest'
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
      with:
        disable-sudo-and-containers: true
        egress-policy: block
        allowed-endpoints: >
          downloads.gradle.org:443
          github.com:443
          services.gradle.org:443

    - name: Git Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Gradle Wrapper Validation
      uses: gradle/actions/wrapper-validation@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
